doctype html

// work in progress
// style needs to be added
// content needs to be added

extends layout

block content
    html
        head
            title Impressum
        body
            h1 Impressum
            h2 Company Information
            p
                | Company Name: Hospital Transparency Group
                br
                | Street: Heisenbergstraße 2
                br
                | City: Münster
                br
                | Postal Code: 48149
                br
                | Country: Germany
            h2 Contact Information
            p
                | Email: [Your Email]
                br
                | Phone: [Your Phone]
            h2 Register Entry
            p
                | Entry in: [Register Entry]
                br
                | Register Number: [Register Number]
                br
                | Register Court: [Register Court]
            h2 VAT ID
            p
                | VAT ID: [Your VAT ID]
            h2 Responsible for Content
            p
                | Name: [Your Name]
                br
                | Address: [Your Address]
                br
                | City: [Your City]
                br
                | Postal Code: [Your Postal Code]
                br
                | Country: [Your Country]