// Hospital Transparency Board Copyright (C) 2023  Maximilian Elfers, Ben Jannis Giese, Timo Lietmeyer, Hendrik Lüning

extends layout

block content
  div#mapDiv
    div(id="map")
      .input-group.mb-3#locationSearchField
        .input-group-prepend
          button.btn.btn-primary#btn_sidebar(type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft") 
            | Filter 
            svg.bi.bi-filter(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewBox='0 0 16 16')
              path(d='M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5')
        input.form-control#locationSearch(type='search', placeholder="Nach Krankenhaus suchen" list="allKHS")
        datalist#allKHS
        input#userLocationField(type='hidden' name='userLocationField')
        .input-group-prepend
          button.btn.btn-primary#button_routing(type="button")
            i.fas.fa-route
      div#message
      button.btn.btn-primary#btn_analysis(type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEnd" aria-controls="offcanvasEnd")
        | Analyse 
        img(src="/images/analysis.png", alt="Icon" width='25' height='25')
      button.btn.btn-primary#sos_button(type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom")
          | SOS
      .text-center#siteLoading
        .loader.visually-hidden#loader

  div.offcanvas.offcanvas-start#offcanvasLeft(tabindex="-1" aria-labelledby="offcanvasLeftLabel")
    div.offcanvas-header#offcanvasLeftHeader
      h4.offcanvas-title(id="offcanvasLeftLabel") Filtern der Krankenhäuser
      button.btn-close(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
    div.offcanvas-body#offcanvasLeftBody

      div.filter-menu
        // Standort
        div.col.d-flex.justify-content-center.mb-3
          h5 Standort
        .row
          .d-flex.justify-content-center.mb-3
            button.btn.btn-primary#button_getUserLoc(, data-bs-dismiss="offcanvas",aria-label="Close") Meinen Standort verwenden
        .row.align-center#row_oder
          .d-flex.justify-content-center.mb-3 
            p oder 
        .row 
          .d-flex.justify-content-center.mb-3
            button.btn.btn-primary#button_setMarker(data-bs-dismiss="offcanvas",aria-label="Close") Standort auf der Map auswählen
        hr
        // Allgemeines
        div.col.d-flex.justify-content-center.mb-3
          h5 Allgemeines
        div.input-group.mb-3.justify-content-center
          label(for='radiusSlider') Maximale Entfernung zu einem Krankenhaus in km
          input#radiusSlider.custom-range(type='range' min='0' max='100' step='1' value='10' )
          .input-group#InputGroup
            input.form-control#radiusInput(type='number', min='0', max='100', value='10')
            span.input-group-text km
        div.row
          div.col.d-flex.justify-content-center
            .dropdown
              ul.dropdown-menu.overflow-auto.text-nowrap#dropdown-menu-krankenhaus-typ
              button.btn.btn-primary.dropdown-toggle#dropdown-krankenhaus-typ(type='button' data-bs-toggle='dropdown' data-bs-auto-close="false")
                | Krankenhaus Typ 
                span#khs_typ_count [0]
          // Eigentümer-Typ
          div.col.d-flex.justify-content-center
            .dropdown
              ul.dropdown-menu.overflow-auto.text-nowrap#dropdown-menu-eigentuemer-typ
              button.btn.btn-primary.dropdown-toggle#dropdown-eigentuemer-typ(type='button' data-bs-toggle='dropdown' data-bs-auto-close="false")
                | Art des Eigentümers 
                span#khs_eigentuemer_count [0]
        hr
        // Behandlung
        div.col.d-flex.justify-content-center.mb-3
          h4 Behandlung
        div.row
          div.col.d-flex.justify-content-center
            .dropdown
              ul.dropdown-menu.overflow-auto.text-nowrap#dropdown-menu-notfall-typ
              button.btn.btn-primary.dropdown-toggle#dropdown-Notfallversorgungsarten(type='button' data-bs-toggle='dropdown' data-bs-auto-close="false")
                | Art der Notfallversorgung 
                span#khs_notfall_count [0]
          div.col.d-flex.justify-content-center
            .dropdown
              ul.dropdown-menu.overflow-auto.text-nowrap#dropdown-menu-spezialisierung-typ
              button.btn.btn-primary.dropdown-toggle#dropdown-Spezialisierung(type='button' data-bs-toggle='dropdown' data-bs-auto-close="false")
                | Spezialisierungen 
                span#khs_spezialisierung_count [0]
              br
              br
          .row 
            .col.d-flex.justify-content-end.align-items-center
              h5.ratingLabel Mindestbewertung:
            .col.d-flex.justify-content-start.align-items-center
              fieldset.rating
                input#star5(type='radio' name='rating' value='5')
                label(for='star5') 5 stars
                input#star4(type='radio' name='rating' value='4')
                label(for='star4') 4 stars
                input#star3(type='radio' name='rating' value='3')
                label(for='star3') 3 stars
                input#star2(type='radio' name='rating' value='2')
                label(for='star2') 2 stars
                input#star1(type='radio' name='rating' value='1')
                label(for='star1') 1 star
        hr
        div.input-group.mb-3.d-flex.justify-content-center
          br
          button.btn.btn-lg.btn-primary#button_submit(data-bs-dismiss="offcanvas",aria-label="Close") Filter anwenden
  div.offcanvas.offcanvas-bottom#offcanvasBottom(tabindex='-1' aria-labelledby='offcanvasBottomLabel')
    div.offcanvas-header#offcanvasBottomHeader
      h5#offcanvasBottomLabel.offcanvas-title Notfallsuche
      button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
    div.offcanvas-body#offcanvasBottomBody
      .row
        h5 Wählen Sie eine Notfallversorgungsart aus:
      .row
        .col.d-flex.justify-content-center
          .btn-group.btn-group-sm.d-none.d-md-flex#notfallsuche(role='group' aria-label='Basic radio toggle button group')
            input#btnradio1.btn-check(type='radio' name='btnradio' autocomplete='off')
            label.btn#radiobutton(for='btnradio1') Allgemeine stationäre Notfallversorgung
            input#btnradio2.btn-check(type='radio' name='btnradio' autocomplete='off')
            label.btn#radiobutton(for='btnradio2') Schwerverletztenversorgung
            input#btnradio3.btn-check(type='radio' name='btnradio' autocomplete='off')
            label.btn#radiobutton(for='btnradio3') Notfallversorgung Kinder
            input#btnradio4.btn-check(type='radio' name='btnradio' autocomplete='off')
            label.btn#radiobutton(for='btnradio4') Schlaganfallversorgung
            input#btnradio5.btn-check(type='radio' name='btnradio' autocomplete='off')
            label.btn#radiobutton(for='btnradio5') Durchblutungsstörungen des Herzens
          .btn-group-vertical.btn-group-sm.d-block.d-md-none#notfallsuchev(role='group' aria-label='Basic radio toggle button group')
            input#btnradio1v.btn-check(type='radio' name='btnradio' autocomplete='off')
            label.btn#radiobutton(for='btnradio1v') Allgemeine stationäre Notfallversorgung
            input#btnradio2v.btn-check(type='radio' name='btnradio' autocomplete='off')
            label.btn#radiobutton(for='btnradio2v') Schwerverletztenversorgung
            input#btnradio3v.btn-check(type='radio' name='btnradio' autocomplete='off')
            label.btn#radiobutton(for='btnradio3v') Notfallversorgung Kinder
            input#btnradio4v.btn-check(type='radio' name='btnradio' autocomplete='off')
            label.btn#radiobutton(for='btnradio4v') Schlaganfallversorgung
            input#btnradio5v.btn-check(type='radio' name='btnradio' autocomplete='off')
            label.btn#radiobutton(for='btnradio5v') Durchblutungsstörungen des Herzens
      .row 
        .col.d-flex.justify-content-center#notfallsucheTable

  div.offcanvas.offcanvas-end#offcanvasEnd(tabindex='-1' aria-labelledby='offcanvasBottomLabel')
    div.offcanvas-header#offcanvasBottomHeader
      h4#offcanvasBottomLabel.offcanvas-title Heatmap Analyse
      button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
    div.offcanvas-body#offcanvasEndBody
      .row.d-flex.justify-content-end.text-center
        h6 In diesem Abschnitt kann die Verteilung der Krankenhäuser auf der Karte als Heatmap dargestellt werden.
        .d-flex.justify-content-center
          .form-check.form-switch
            input.form-check-input(type='checkbox', id='activeHeatmapSwitch')
            label.form-check-label(for='activeHeatmapSwitch') Heatmap erstellen
          br
          br
        p.fst-italic Im folgenden können Sie verschiedene Möglichkeiten auswählen, welche Krankenhäuser in die Analyse einbezogen werden sollen:
      br
      br
      .row
        .d-flex.justify-content-center
          .form-check.form-switch
            input.form-check-input(type='checkbox', id='useActiveFilterSwitch')
            label.form-check-label(for='useActiveFilterSwitch') Verwende aktive Filter
          br
          br
        .d-flex.justify-content-center.text-center
          p.fst-italic Wird dies aktiviert so werden nur die Krankenhäuser verwendet, die durch die Filter ausgewählt wurden. Bei deaktivierung werden alle Krankenhäuser aus dem Datensatz verwendet.

  script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="")
  script(src="/javascripts/indexScript_main.js")
  script(src="/javascripts/indexScript_EventListener.js")
  script(src="/javascripts/indexScript_notfallsuche.js")
  script(src="/javascripts/indexScript_DomFilterCreation.js")
  script(src="/javascripts/indexScript_Heatmap.js")
  script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
  