// Hospital Transparency Board Copyright (C) 2023  Maximilian Elfers, Ben Jannis Giese, Timo Lietmeyer, Hendrik Lüning

extends layout

block content
  div#mapDiv
    div(id="map")
      button.btn.btn-primary#btn_sidebar(type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas") 
        | Filter
        svg.bi.bi-filter(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='currentColor' viewBox='0 0 16 16')
          path(d='M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5')

  div.offcanvas.offcanvas-start(tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel")
    div.offcanvas-header#offcanvas-header
      h3.offcanvas-title(id="offcanvasLabel") Filtern der Krankenhäuser
      button.btn-close(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
    div.offcanvas-body#offcanvas-body

      div.filter-menu
        // Standort
        div.col.d-flex.justify-content-center.mb-3
          h5 Standort
        div.input-group.mb-3.d-flex.justify-content-center
          button(type='button', id="button_getUserLoc", data-bs-dismiss="offcanvas",aria-label="Close") Meinen Standort verwenden
        div.input-group.mb-3.d-flex.justify-content-center
          input(type='text', name='Post Zip Code', placeholder='Post Zip Code', id="input_PZC")
          button(type='button', id="button_PZC") Submit (not working yet)
        br
        button(type='button', id="button_setMarker", data-bs-dismiss="offcanvas",aria-label="Close") Set Marker on Map
        button(type='button', id="button_submit", data-bs-dismiss="offcanvas",aria-label="Close") filter Provider
        br
        hr
        // Allgemeines
        div.col.d-flex.justify-content-center.mb-3
          h5 Allgemeines
        div.input-group.mb-3.justify-content-center
          label(for='radiusSlider') Maximale Entfernung zu einem Krankenhaus in km
          input#radiusSlider.custom-range(type='range' min='0' max='100' step='1' value='10' )
          .input-group#InputGroup
            input.form-control#radiusInput(type='number', min='0', max='100', value='10')
            span.input-group-text km
        div 
        | Radius in km:
        select(name='input_radius', id='input_radius') 
          option(value=2000) 2
          option(value=5000) 5
          option(value=10000) 10
          option(value=20000) 20
          option(value=50000) 50
        br
        br
        div.row
          div.col.d-flex.justify-content-center
            .dropdown
              ul.dropdown-menu.overflow-auto.text-nowrap
                li.dropdown-item-text
                  input#btn-krankenhaus-typ1.btn-check(type='checkbox' autocomplete='off')
                  label.btn.btn-outline-primary(for='btn-krankenhaus-typ1') Hochschulklinik
                li.dropdown-item-text
                  input#btn-krankenhaus-typ2.btn-check(type='checkbox' autocomplete='off')
                  label.btn.btn-outline-primary(for='btn-krankenhaus-typ2') Plankrankenhaus
                li.dropdown-item-text
                  input#btn-krankenhaus-typ3.btn-check(type='checkbox' autocomplete='off')
                  label.btn.btn-outline-primary(for='btn-krankenhaus-typ3') Krankenhaus mit Versorgungsvertrag
                li.dropdown-item-text
                  input#btn-krankenhaus-typ4.btn-check(type='checkbox' autocomplete='off')
                  label.btn.btn-outline-primary(for='btn-krankenhaus-typ4') Krankenhaus ohne Versorgungsvertrag
                li.dropdown-item-text
                  input#btn-krankenhaus-typ5.btn-check(type='checkbox' autocomplete='off')
                  label.btn.btn-outline-primary(for='btn-krankenhaus-typ5') Bundeswehrkrankenhaus
              button.btn.btn-primary.dropdown-toggle#dropdown-krankenhaus-typ(type='button' data-bs-toggle='dropdown' data-bs-auto-close="false")
                | Krankenhaus Typ 
                span [
                span.count
                span ]
                span.caret
          // Eigentümer-Typ
          div.col.d-flex.justify-content-center
            .dropdown
              ul.dropdown-menu.overflow-auto.text-nowrap
                li.dropdown-item-text
                  input#btn-eigentuemer-typ1.btn-check(type='checkbox' autocomplete='off')
                  label.btn.btn-outline-primary(for='btn-eigentuemer-typ1') Privat
                li.dropdown-item-text
                  input#btn-eigentuemer-typ2.btn-check(type='checkbox' autocomplete='off')
                  label.btn.btn-outline-primary(for='btn-eigentuemer-typ2') Öffentlich
                li.dropdown-item-text
                  input#btn-eigentuemer-typ3.btn-check(type='checkbox' autocomplete='off')
                  label.btn.btn-outline-primary(for='btn-eigentuemer-typ3') Freigemeinnützig
              button.btn.btn-primary.dropdown-toggle#dropdown-eigentuemer-typ(type='button' data-bs-toggle='dropdown' data-bs-auto-close="false")
                | Art des Eigentümers 
                span [
                span.count
                span ]
                span.caret
        hr
        // Behandlung
        div.col.d-flex.justify-content-center.mb-3
          h4 Behandlung
        div.row
          div.col.d-flex.justify-content-center
            .dropdown
              ul.dropdown-menu.overflow-auto.text-nowrap
                li.dropdown-item-text
                  input#btn-nv1.btn-check(type='checkbox' autocomplete='off')
                  label.btn.btn-outline-primary(for='btn-nv1') Allgemeine stationäre Notfallversorgung
                li.dropdown-item-text
                  input#btn-nv2.btn-check(type='checkbox' autocomplete='off')
                  label.btn.btn-outline-primary(for='btn-nv2') Schwerverletztenversorgung
                li.dropdown-item-text
                  input#btn-nv3.btn-check(type='checkbox' autocomplete='off')
                  label.btn.btn-outline-primary(for='btn-nv3') Notfallversorgung Kinder
                li.dropdown-item-text
                  input#btn-nv4.btn-check(type='checkbox' autocomplete='off')
                  label.btn.btn-outline-primary(for='btn-nv4') Schlaganfallversorgung
                li.dropdown-item-text
                  input#btn-nv5.btn-check(type='checkbox' autocomplete='off')
                  label.btn.btn-outline-primary(for='btn-nv5') Durchblutungsstörungen des Herzens
              button.btn.btn-primary.dropdown-toggle#dropdown-Notfallversorgungsarten(type='button' data-bs-toggle='dropdown' data-bs-auto-close="false")
                | Art der Notfallversorgung 
                span [
                span.count
                span ]
                span.caret
          div.col.d-flex.justify-content-center
            .dropdown
              ul.dropdown-menu.overflow-auto.text-nowrap
                li.dropdown-item-text 
                  button.btn.btn-primary#collapse-spezial1(type='button' data-bs-toggle='collapse' data-bs-target='#collapse1' aria-expanded='false' aria-controls='collapse1')
                    | 1. Innere Medizin
                  #collapse1.collapse
                    .card.card-body
                      ul.no-padding
                        li.dropdown-item-text
                          input#btn-sp0100.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0100') Innere Medizin
                        li.dropdown-item-text
                          input#btn-sp0102.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0102') Schwerpunkt Geriatrie
                        li.dropdown-item-text
                          input#btn-sp0103.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0103') Schwerpunkt Kardiologie
                        li.dropdown-item-text
                          input#btn-sp0104.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0104') Schwerpunkt Nephrologie 
                        li.dropdown-item-text
                          input#btn-sp0105.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0105') Schwerpunkt Hämatologie und Onkologie
                        li.dropdown-item-text
                          input#btn-sp0106.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0106') Schwerpunkt Endokrinologie
                        li.dropdown-item-text
                          input#btn-sp0107.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0107') Schwerpunkt Gastroeentologie
                        li.dropdown-item-text
                          input#btn-sp0108.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0108') Schwerpunkt Pneumologie
                        li.dropdown-item-text
                          input#btn-sp0109.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0109') Schwerpunkt Rheumatologie
                        li.dropdown-item-text
                          input#btn-sp0114.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0114') Schwerpunkt Lungen- und Bronchialheilkunde
                        li.dropdown-item-text
                          input#btn-sp0150.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0150') Schwerpunkt Tumorforschung
                        li.dropdown-item-text
                          input#btn-sp0151.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0151') Schwerpunkt Coloproktologie
                        li.dropdown-item-text
                          input#btn-sp0152.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0152') Schwerpunkt Infektionskrankheiten
                        li.dropdown-item-text
                          input#btn-sp0153.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0153') Schwerpunkt Diabetes
                        li.dropdown-item-text
                          input#btn-sp0154.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0154') Schwerpunkt Naturheilkunde
                        li.dropdown-item-text
                          input#btn-sp0156.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0156') Schwerpunkt Schlaganfall
                li.dropdown-item-text 
                  button.btn.btn-primary#collapse-spezial2(type='button' data-bs-toggle='collapse' data-bs-target='#collapse2' aria-expanded='false' aria-controls='collapse2')
                    | 2. Geriatrie
                  #collapse2.collapse
                    .card.card-body
                      ul.no-padding
                        li.dropdown-item-text
                          input#btn-sp0200.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0200') Geriatrie
                        li.dropdown-item-text
                          input#btn-sp0224.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0224') Schwerpunkt Frauenheilkunde
                        li.dropdown-item-text
                          input#btn-sp0260.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0260') Tagesklinik
                        li.dropdown-item-text
                          input#btn-sp0261.btn-check(type='checkbox' autocomplete='off')
                          label.btn.btn-outline-primary(for='btn-sp0261') Nachtklinik
                li.dropdown-item-text
                  input#btn-sp0300.btn-check(type='checkbox' autocomplete='off')
                  label.btn.btn-outline-primary(for='btn-sp0300') 3. Kardiologie
                li.dropdown-item-text
                  input#btn-sp0400.btn-check(type='checkbox' autocomplete='off')
                  label.btn.btn-outline-primary(for='btn-sp0400') 4. Nephrologie
              button.btn.btn-primary.dropdown-toggle#dropdown-Spezialisierung(type='button' data-bs-toggle='dropdown' data-bs-auto-close="false")
                | Spezialisierungen 
                span [
                span.count
                span ]
                span.caret
              br
              br
          .row 
            .col.d-flex.justify-content-end.align-items-center
              h5.ratingLabel Mindestbewertung:
            .col.d-flex.justify-content-start.align-items-center
              fieldset.rating
                input#star5(type='radio' name='rating' value='5')
                label(for='star5') 5 stars
                input#star4(type='radio' name='rating' value='4')
                label(for='star4') 4 stars
                input#star3(type='radio' name='rating' value='3')
                label(for='star3') 3 stars
                input#star2(type='radio' name='rating' value='2')
                label(for='star2') 2 stars
                input#star1(type='radio' name='rating' value='1')
                label(for='star1') 1 star
          //- input#ratingSlider.custom-range(type='range' min='0' max='5' step='0.1' value='0')
          //- .input-group#InputGroup
          //-   input.form-control#ratingInput(type='double', min='0', max='5')
          //-   span.input-group-text 
          //-     svg.bi.bi-star(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
          //-       path(d='M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z')
        hr

      //
        // buttongroup
        p Filteroption Buttongroup
        div.btn-group(role="group" aria-label="Basic example")
          button#btngroup1.btn-check(type='button' name='btngroup1')
          label.btn.btn-outline-primary(for='btngroup1') Button 1
          button#btngroup2.btn-check(type='button' name='btngroup2')
          label.btn.btn-outline-primary(for='btngroup2') Button 2
          button#btngroup3.btn-check(type='button' name='btngroup3')
          label.btn.btn-outline-primary(for='btngroup3') Button 3
        hr
        p Choose provider type
        div.btn-group(role='group' aria-label='Basic radio toggle button group', id = 'button_providerType')
          input#btn-check1.btn-check(type='checkbox' autocomplete='off', value=1)
          label.btn.btn-outline-primary(for='btn-check1') Öffentlich
          input#btn-check2.btn-check(type='checkbox' autocomplete='off', value=2)
          label.btn.btn-outline-primary(for='btn-check2') Freigemeinnützig
          input#btn-check3.btn-check(type='checkbox' autocomplete='off', value=3)
          label.btn.btn-outline-primary(for='btn-check3') Privat
        
        button(type='button', id="button_submit", data-bs-dismiss="offcanvas",aria-label="Close") Submit

        

        hr
        // checkbox toggle buttons
        p Filteroption checkbox toggle buttons
        
        input#btn-check1.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='btn-check1') Option 1
        input#btn-check2.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='btn-check2') Option 2
        input#btn-check3.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-primary(for='btn-check3') Option 3
        hr

        
        // radio group
        p Filteroption Radio
        div.btn-group(role='group' aria-label='Basic radio toggle button group')
          input#btnradio1.btn-check(type='radio' name='btnradio' autocomplete='off' checked='')
          label.btn.btn-outline-primary(for='btnradio1') Radio 1
          input#btnradio2.btn-check(type='radio' name='btnradio' autocomplete='off')
          label.btn.btn-outline-primary(for='btnradio2') Radio 2
          input#btnradio3.btn-check(type='radio' name='btnradio' autocomplete='off')
          label.btn.btn-outline-primary(for='btnradio3') Radio 3
        hr
        // form select
        p Filteroption Form Select
        select.form-select(aria-label='Default select example')
          option(selected='') Select an option
          option(value='1') Option 1
          option(value='2') Option 2
          option(value='3') Option 3

  script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="")
  script(src="/javascripts/index_script.js")
