doctype html
// Hospital Transparency Board Copyright (C) 2023  Maximilian Elfers, Ben Jannis Giese, Timo Lietmeyer, Hendrik Lüning

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
