html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

#mapDiv {
  height: 100%;
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
}

#btn_sidebar {
  position: absolute;
  top: 40pt;
  left: 20pt;
  z-index: 500;
}

.highlight-brand {
  background-color: #ff0000; /* Change this to your preferred color */
  color: #ffffff; /* This is to ensure the text is visible on the highlight color */
  border-radius: 10px; /* Makes the element round */
  padding: 10px; /* Adds space inside the element */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 15px;
}

.offcanvas-size-xl {
  --bs-offcanvas-width: min(95vw, 600px) !important;
}
.offcanvas-size-xxl {
  --bs-offcanvas-width: min(95vw, 90vw) !important;
}
.offcanvas-size-md { /* add Responsivenes to default offcanvas */
  --bs-offcanvas-width: min(95vw, 400px) !important;
}
.offcanvas-size-sm {
  --bs-offcanvas-width: min(95vw, 250px) !important;
}

@keyframes fadeInOut {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

.welcome-message {
  animation: fadeInOut 4s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #000;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}