:root{
  /* Primary: Livid */
--primary-100: #F2F3FF;
--primary-200: #D7DAFE;
--primary-300: #B8C2F9;
--primary-400: #95A7EB;
--primary-500: #6D87CF;
--primary-600: #4463A4;
--primary-700: #2B4A7A;
--primary-800: #1B3250;
--primary-900: #0D1926;

/* Neutral */
--neutral-100: #FAFAFC;
--neutral-200: #E9EAEE;
--neutral-300: #D8DADF;
--neutral-400: #C8CAD0;
--neutral-500: #B8BBC2;
--neutral-600: #91959B;
--neutral-700: #6B6F74;
--neutral-800: #464A4D;
--neutral-900: #222426;
  
--footer-height: 5%;
--navbar-height: 7%;
--sidebar-width: 32%;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-700);
}

input {
  color: var(--neutral-800);
  margin-top: 10px;
}

button {
  color: var(--neutral-800);
  margin-top: 10px;
}

a.navbar-brand {
  color: var(--primary-700);
}

#navbar {
  height: var(--navbar-height);
  width: 100%;
  position: relative;
  background-color: #B8C2F950;
  color: var(--primary-700);
  text-indent: 20%;
  font-weight: bold;
  z-index: 1;
}

.leaflet-routing-container {
  top: 70px !important;
  visibility: hidden; 
}

#mapDiv {
  top: 0;
  height: calc(100% - var(--footer-height));
  width: 100%;
  position: absolute;
  z-index: 0;
}

#map {
  padding-top: var(--navbar-height);
  height: 100%;
  width: 100%;
}

#dropdown-krankenhaus-typ, #dropdown-eigentuemer-typ, #dropdown-Notfallversorgungsarten,
#dropdown-Spezialisierung{
  border-color: var(--primary-200);
}

.btn-outline-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
}

#locationSearchField {
  position: absolute;
  left: 20px;
  top: calc(var(--navbar-height) + 2%);
  z-index: 500;
  color: var(--primary-700);
  width: var(--sidebar-width);
}

/* offcanvas ----------------------------------------------------------------- */
#btn_sidebar {
  background-color: var(--primary-400);
  border-color: var(--primary-200);
}

#button_routing {
  background-color: var(--primary-400);
  border-color: var(--primary-200);
}

#message {
  position: fixed;
  top: 80px;
  right: 10px;
  background-color: var(--primary-400);
  z-index: 1000;
  font-size: 15px;
  width: 500px;
  padding-left: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

#button_getUserLoc, #button_setMarker {
  background-color: var(--primary-400);
  border-color: var(--primary-200);
}

#button_submit {
  background-color: var(--primary-500);
  border-color: var(--primary-200);
}

#offcanvasLeftHeader {
  background-color: var(--primary-400);
}

#offcanvasLeftLabel {
  color: var(--primary-100);
}

#offcanvasLeftbody {
  background-color: var(--primary-100);
}

#offcanvasLeft {
  width: min(95vw, 510px) !important;
  height: calc(100% - var(--footer-height));
}

.dropdown-menu {
  max-height: 200pt;
}

.no-padding {
  padding: 0;
}

#dropdown-krankenhaus-typ, #dropdown-eigentuemer-typ, #dropdown-Notfallversorgungsarten, #dropdown-Spezialisierung{
  background-color: var(--primary-400);
}

#collapse-special1,
#collapse-special2, #collapse-special4, #collapse-special5, #collapse-special6, #collapse-special7, #collapse-special9,
#collapse-special9, #collapse-special10, #collapse-special11, #collapse-special14, #collapse-special15, #collapse-special20,
#collapse-special21, #collapse-special23, #collapse-special24, #collapse-special28, #collapse-special29, #collapse-special30,
#collapse-special31, #collapse-special32, #collapse-special33, #collapse-special34, #collapse-special36, #collapse-special37{
  background-color: var(--primary-200);
  color: var(--primary-700);
}

#dropdown-filter-button{
  background-color: var(--primary-100);
  color: var(--primary-700);
}
#dropdown-filter-button:hover{
  background-color: var(--primary-600);
  color: var(--primary-100);
}
input:checked ~ #dropdown-filter-button{
  background-color: var(--primary-600);
  color: var(--primary-100);
}

.collapse-color{
  background-color: var(--primary-100);
  color: var(--primary-700);
}

.dropdown-header {
  background-color: var(--neutral-200);
}

#dropdown-menu-spezialisierung-typ {
  width: 420px;
  height: 300px;
}

.rating {
  float:left;
  border:none;
}
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
}
.rating:not(:checked) > label:before {
  content:'★ ';
}
.rating > input:checked ~ label {
  color: #f70;
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}
.rating > label:active {
  position:relative;
}
.ratingLabel { font-weight: normal; }

ul {
  counter-reset: checked;
}

li input:checked {
  counter-increment: checked;
}

.count:after {
  content: counter(checked);
}

#row_oder {
  height: 30pt;
}

/* filter menu ----------------------------------------------------------------*/
.filter-menu {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.filter {
  margin: 10px 0;
}

hr {
  width: 100%;
  border-top: 1px solid #000;
}

  
#InputGroup {
  margin: 25px;
  width: 30%;
}

#radiusInput{
  text-align: center;
}

/* offcanvas bottom ---------------------------------------------------------- */
#sos_button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: var(--footer-height);
  z-index: 500;
  background-color: #1B3250;
  width: 20%;
}

#offcanvasBottomHeader {
  background-color: var(--primary-400);
  
}

#offcanvasBottomLabel {
  color: var(--primary-100);
  text-align: center;
}

#offcanvasBottomBody {
  background-color: var(--primary-100);
}

#offcanvasBottom {
  width: 70% !important;
  height: 100%;
  top: 20%;
  left: 15%;
}


/* footer--------------------------------------------------------------------- */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-400);
  color: var(--primary-800);
  text-align: center;
  z-index: 1;
}

footer a {
  color: var(--primary-800);
  text-decoration: none;
}